<div class ="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <%= form_with model: @post do |f| %>
                <p>Title</p>
                <%= f.text_field :title, style: "width:100%;", placeholder:'Title', maxlength: '40' %>
    
                <p>Posted article</p>
                <%= f.text_area :body, style: "width:100%; height:300px;", placeholder:'Text', maxlength: '100000' %>
    
                <%= f.submit "Post" %>
            <% end %>
        </div>
    </div>
</div>