<div class ="container mt-3">
    <div class ="row  text-center mx-auto">
        <div class="col-10">
            <ul class="about list-unstyled">
                <li>RANDOM NOTESは、日々の学習の記録やアウトプット、備忘録などを投稿できる学習アプリです。</li>
                <li>初めての方は新規登録を</li>
                <li>登録済みの方はログインして開始してください。</li>
                <li>投稿フォームはマークダウン記法になっています。</li>
                <li>マークダウン記法の練習にもお使いください。</li>
            </ul>
        </div>
    </div>
</div>