<div class ="container">
    <div class ="row mx-auto">
        <ul class="list-unstyled">
            <li>RANDOM NOTESは、日々の学習の記録やアウトプット、備忘録などを投稿できる学習アプリです。</li>
            <li>初めての方は新規登録を</li>
            <li>登録済みの方はログインして開始してください。</li>
        </ul>
    </div>
</div>