<div class ="container mt-3">
    <div class ="row  text-center mx-auto">
        <div class="col-10">
            <ul class="about list-unstyled">
                <li>「RANDOM NOTES」は、日々の学習の進捗や成果、備忘録を手軽に投稿できる学習アプリです。<br>
                新しい知識やスキルを身につけたり、気になったことを記録したりするのに最適な場所です。</li>
                <li><strong>新規登録をお考えの方へ</strong></li>
                <li>初めての方は、まず新規登録を行ってください。学習の冒険が始まります！</li>
                <li><strong>すでに登録済みの方へ</strong></li>
                <li>既にアカウントをお持ちの方は、ログインして学習の記録を始めましょう。</li>
                <li><strong>投稿フォームはマークダウン記法をサポート</strong></li>
                <li>投稿フォームはマークダウン記法に対応しています。<br>
                マークダウン記法を使用することで、より見やすく、スタイリッシュな投稿が可能です。</li>
                <li>また、マークダウン記法の使い方を学ぶ一環として、投稿フォームを利用して簡単な練習も行えます。</li>
                <li><strong>学習アウトプットを整理しよう</strong></li>
                <li>「RANDOM NOTES」を通じて、日々の学びや気づきを整理し、<br>
                他のユーザーと共有することで、新たな学びやアイデアが生まれるかもしれません。</li>
                <li>「RANDOM NOTES」はあなたの学習のパートナーです。新しい発見や学びを共有し、共に成長していきましょう。</li>
            </ul>
        </div>
    </div>
</div>