<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class='table'>
                    <thead>
                        <tr>
                            <th>User Index</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @users.each do |user| %>
                        <tr>
                            <td><%= image_tag user.get_profile_image(70,70)  %></td>
                            <td><%= user.name %></td>
                            <td>
                                <% if user.is_active == true %>
                                    <strong class="ml-2" style ="color: #32cd32;">有効</strong>
                                <% else %>
                                    <strong class="ml-2" style ="color: #dc143c;">無効</strong>
                                <% end %>
                            </td>
                            <td><%= link_to 'Show', admin_user_path(user.id) %></td>
                      <% end %>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <%= paginate @users %>
            </div>
        </div>
    </div>
</div>