<%= link_to transition_path(notification) do %>
  <div>
    <% if notification.subject.follower.guest_user? %>
      Guest_user
    <% else %>
      <%= link_to notification.subject.follower.name, user_path(notification.subject.follower) %>
    <% end %>
   　　followed you.
    <%= " (#{time_ago_in_words(notification.created_at)} ago)" %>
  </div>
<% end %>