  <div class="container">
      <div class="row">
          <div class="col-md-10">
              <h4>Notification</h4>
              <% if @notifications.present? %>
                  <%= link_to 'Delete All Notifications', delete_notifications_path, method: :delete %>
                  <% @notifications.each do |notification| %>
                      <%= render "#{notification.action_type}", notification: notification %>
                  <% end %>
              <% else %>
                    No notifications
              <% end %>
          </div>   
      </div>
  </div>
  
  