<footer class="mt-auto py-3 border-top">
    <div class="container-fluid">
        <div class="row justify-content-center">
          <i class="fa-regular fa-copyright"> RANDOM NOTES</i>
        </div>
    </div>
</footer>