<footer class="mt-auto py-3 border">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <i class="fa-regular fa-copyright"> RANDOM NOTES</i>
            </div>
        </div>
    </div>
</footer>